.table {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  overflow: hidden;
  border-spacing: 0;
  margin-bottom: 2rem;
}

.table-head,
.thead-row {
  background-color: var(--grey-dark);
  font-weight: 500;
  color: var(--grey-light);
  height: 3rem;
}

.thead-collum,
.table-collum {
  padding: 0.5rem 1rem;
}

.table-row {
  height: 3rem;
  background-color: var(--grey-light);
  font-size: 0.9rem;
}

.table-row:nth-of-type(even) {
  background-color: var(--grey-regular);
}

.table-collum {
  padding: 0.2rem 1rem;
}

@media (min-width: 1100px) {
  .table-head,
  .thead-row {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .table-row {
    font-size: 1rem;
    font-weight: 400;
  }
}
