@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  //COLOR PALLETE
  --grey-light: #fff;
  --grey-regular: #c4c4c4;
  --grey-dark: #424242;
  --blue-gradient: linear-gradient(90.16deg, #0c4251 12.73%, #219dbf 109.4%);
  --blue-navy-light: #219dbf;
  --blue-navy: #106279;
  --blue-dark-navy: #0c4251;

  //FONT FAMILY
  --primary-font: 'Ubuntu', sans-serif;
}

body {
  background-color: var(--grey-light);
  font-family: var(--primary-font);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
