@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  //COLOR PALLETE
  --black: #0b090a;
  --dark-grey: #161a1d;
  --regular-grey: #b1a7a6;
  --light-grey: #d3d3d3;
  --lighter-grey: #f5f3f4;

  --dark-red: #660708;
  --regular-red: #ff0000;
  --light-red: #e5383b;

  //FONT FAMILY
  --primary-font: 'Ubuntu', sans-serif;
}

body {
  background-color: var(--light-grey);
  font-family: var(--primary-font);
  color: var(--light-grey);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
